<div class="w-full h-full flex justify-center items-center">
    <div class="flex gap-4">
        <a class="flex flex-col items-center border-2 w-40 h-16 justify-center rounded-md ">
            <i class="bx bxs-user text-[1.8rem]"></i>
            Lista Alumnos
        </a>
        <a class="flex flex-col items-center border-2 w-40 h-16 justify-center rounded-md ">
            <i class="bx bx-list-ul text-[1.8rem]"></i>
            Lista Asistencia
        </a>
        <a class="flex flex-col items-center border-2 w-40 h-16 justify-center rounded-md ">
            <i class="bx bxs-user-check text-[1.8rem]"></i>
            Registrar Asistencia
        </a>
    </div>
</div>
